absl-py==2.0.0
accelerate==0.17.1
aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
altair==5.1.1
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
bitsandbytes==0.37.1
blis==0.7.11
Brotli==1.0.9
cachetools==5.3.2
catalogue==1.0.2
cchardet==2.1.7
certifi==2023.7.22
chardet==4.0.0
charset-normalizer==3.2.0
click==8.1.7
cloudpathlib==0.15.1
colorama==0.4.6
commonmark==0.9.1
confection==0.0.4
contourpy==1.1.1
cycler==0.11.0
cymem==2.0.6
Cython==3.0.5
dataclasses==0.8
datasets==2.10.1
deepspeed==0.9.5+ffd3ab0
dill==0.3.6
einops==0.6.1
en-core-web-sm==3.5.0
exceptiongroup==1.1.3
fastapi==0.103.1
ffmpy==0.3.1
filelock==3.12.4
fire==0.5.0
flash-attn==1.0.9
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.9.2
future==0.18.3
google-auth==2.23.3
google-auth-oauthlib==1.0.0
gradio==3.44.4
gradio_client==0.5.1
grpcio==1.59.0
h11==0.14.0
hjson==3.1.0
httpcore==0.18.0
httptools==0.6.1
httpx==0.25.0
huggingface-hub==0.17.2
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.0
jieba==0.42.1
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
kaleido==0.1.0a2
kiwisolver==1.4.5
langcodes==3.3.0
loguru==0.7.2
Markdown==3.5
MarkupSafe==2.1.1
matplotlib==3.7.3
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
multiprocess==0.70.14
murmurhash==1.0.10
networkx==3.1
ninja==1.11.1
numpy==1.24.3
oauthlib==3.2.2
orjson==3.9.7
owlready2==0.45
packaging==23.1
pandas==2.0.3
pathy==0.10.2
Pillow==10.0.1
pip==23.2.1
pkgutil_resolve_name==1.3.10
pkuseg==0.0.25
plac==1.1.3
plotly==5.18.0
preshed==3.0.6
protobuf==3.20.0
psutil==5.9.5
py-cpuinfo==9.0.0
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==1.10.12
pydub==0.25.1
Pygments==2.16.1
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pytz==2023.3.post1
PyYAML==6.0.1
ray==2.7.1
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.18.0
rich==12.6.0
rpds-py==0.10.3
rsa==4.9
safetensors==0.4.0
scikit-learn==1.3.1
scipy==1.10.1
semantic-version==2.10.0
sentencepiece==0.1.99
setuptools==68.0.0
shellingham==1.5.3
six==1.16.0
smart-open==5.2.1
sniffio==1.3.0
some-package==0.1
spacy==2.3.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==1.0.7
starlette==0.27.0
sympy==1.12
tenacity==8.2.3
tensorboard==2.14.0
tensorboard-data-server==0.7.2
termcolor==2.3.0
thinc==7.4.6
threadpoolctl==3.2.0
tokenizers==0.13.3
toolz==0.12.0
torch==1.13.1+cu116
torchaudio==0.13.1+cu116
torchvision==0.14.1+cu116
tqdm==4.65.0
transformers==4.28.0
typer==0.7.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.5
uvicorn==0.23.2
uvloop==0.18.0
wasabi==0.10.1
watchfiles==0.21.0
weasel==0.3.2
websockets==11.0.3
Werkzeug==3.0.1
wheel==0.38.4
xxhash==3.3.0
yarl==1.9.2
zipp==3.17.0
